body{
  background-color: #393E46;
  font-family: "Indie Flower", cursive;
  color: #64CCA3;
  text-align: center;
}
h1{
  font-family: "Lobster", cursive;
  font-size: 8rem;
  text-shadow: 5px 0 #242931;
  font-weight: bold;
  margin: 0;
}
h3{
  font-size: 2rem;
}
.big-div{
  margin: 2% 15%;
}
.player-title{
  display: inline-block;
  margin-top: 30px;
}
.dice-img{
  width: 80%;
}
.footer{
  margin-top: 70px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}
